@if (store.sheet$ | async; as sheet) {
<div class="character-grid">
  <app-character
    [sheet]="sheet"
    [characterId]="store.characterId"
    (patch)="store.applyPatch($any($event))"
  ></app-character>
  <app-stats [sheet]="sheet" (patch)="store.applyPatch($any($event))"></app-stats>
  <app-levelclass [sheet]="sheet" (patch)="store.applyPatch($any($event))"></app-levelclass>
  <app-currentstats [sheet]="sheet" (patch)="store.applyPatch($any($event))"></app-currentstats>
  <app-skills [sheet]="sheet" (patch)="store.applyPatch($any($event))"></app-skills>
  <app-inventory [sheet]="sheet" (patch)="store.applyPatch($any($event))"> </app-inventory>
  <app-equipment [sheet]="sheet" (patch)="store.applyPatch($any($event))"> </app-equipment>
</div>
}
